In [1]:
a = [1, 'a', [2, 3], 4.5]

b = a

a[0] = -0.1

print(b)

[-0.1, 'a', [2, 3], 4.5]

In [3]:
import pandas as pd
df = pd.read_csv('https://s3-us-west-2.amazonaws.com/learn-assets.galvanize.com/gSchool/ds-curriculum/sql-block/rent.csv')
df.shape

(4884, 5)

In [9]:
df_max1 = df.groupby(by='med_2011').max()
df_max2 = df_max1.groupby(by='med_2014').max()
# Neighborhood,City,State,med_2011,med_2014

In [10]:
df_max1

                Neighborhood               City State  med_2014
med_2011
439.0     Greater Hobby Area            Houston    TX       NaN
450.0             South Side             Toledo    OH     695.0
460.0       Broadway Gillham        Kansas City    MO     689.0
465.0          Sarritt Point        Kansas City    MO     575.0
475.0             Middlebury              Akron    OH     495.0
...                      ...                ...   ...       ...
9500.0          Beverly Glen        Los Angeles    CA    8950.0
27000.0              Springs       East Hampton    NY   29000.0
36000.0     Northwest Harbor       East Hampton    NY   38000.0
37000.0   East Hampton North       East Hampton    NY   38000.0
65000.0    Westhampton Dunes  Westhampton Beach    NY   53900.0

[493 rows x 4 columns]

In [11]:
df_max2

               Neighborhood               City State
med_2014
450.0             Southwyck             Toledo    OH
495.0            Middlebury              Akron    OH
550.0        Old Louisville         Louisville    KY
559.0              San Jose       Jacksonville    FL
575.0         Sarritt Point        Kansas City    MO
...                     ...                ...   ...
8950.0         Beverly Glen        Los Angeles    CA
17500.0         Seven Isles    Fort Lauderdale    FL
29000.0             Springs       East Hampton    NY
38000.0    Northwest Harbor       East Hampton    NY
53900.0   Westhampton Dunes  Westhampton Beach    NY

[237 rows x 3 columns]

In [17]:
import numpy as np
B = np.ones((3,5))* 3
B.shape

(3, 5)

In [18]:
arr = np.array([[ -4,  -3,  11],
                       [ 14,   2, -11],
                       [-17,  10,   3]])

In [23]:
arr[::-1,:][:-1, :-1]

array([[-17,  10],
       [ 14,   2]])

In [28]:
# invert_dictionary({'a': 2, 'b': 4, 'c': 2})
d = {'a': 2, 'b': 4, 'c': 2}
d['a'] # .values()

AttributeError: 'int' object has no attribute 'values'